attrs==22.2.0
boto3==1.26.83
boto3-stubs==1.26.83
botocore==1.29.83
botocore-stubs==1.29.83
exceptiongroup==1.1.1
iniconfig==2.0.0
jmespath==1.0.1
lambda-typing==0.1.0
packaging==23.0
pluggy==1.0.0
pytest==7.2.2
pytest-mock==3.10.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1
types-awscrt==0.16.10
types-s3transfer==0.6.0.post5
typing_extensions==4.5.0
urllib3==1.26.14
